*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: black;
	display: block;
	width: 970px;
}
.bold{
	font-weight: bold;
}
#header{
	background-color: #F2F0F5;
	display: block;
	width: 960px;
	height: 130px;
}
				#header p{
					/*background-color: grey;*/
					display: inline-block;
					text-align: right;
					font-weight: bold;
					padding-top: 25px;
					width: 595px;
					vertical-align: top;
				}
				#header a{
					text-decoration: none;
					color: grey;
					font-weight: bold;
				}
				#header li{
					display: inline;
					text-decoration: none;
					margin-left: 45px;
					font-size: 10px;
					border-left: solid 1px grey;
					padding: 5px;
				}
				#header ul{
					border-top: solid 1px grey;
				}
				#header img{
					display: inline-block;
				}
#mainContent{
	background-color: black;
	display: inline-block;
	vertical-align: top;
	border: solid 1px #363336;
	width: 560px;
	height: 255px;
	margin-top: 5px;
}
				#mainImage{
					margin-top: 5px;
					margin-left: 10px;
				}
				#mainContent h1{
					background-color: yellow;
					font-size: 18px;
				}
				#mainContent h2{
					background-color: black;
					color: white;
					text-indent: 16px;
					font-size: 14px;
					margin-top: 10px;
				}
				#mainContent p{
					background-color: black;
					color: white;
					margin-left: 12px;
					font-size: 14px;
					padding: 5px;
				}
#mainFooter{
	background-color: black;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	width: 940px;
}
				#mainFooter img{
					display: inline-block;
					width: 65px;
					height: 13px;
					margin-top: 5px;
				}
				#mainFooter p{
					/*background-color: pink;*/
					display: inline-block;
					color: yellow;
					vertical-align: top;
					padding-left: 16px;
					margin-top: 5px;
					font-size: 14px;
					width: 850px;
				}
.services{
	background-color: white;
	display: inline-block;
	width: 222px;
	height: 245px;
	vertical-align: top;
	margin-left: 15px;
	margin-right: -5px;
	margin-top: 10px;

}
				.services h6{
					background-color: yellow;
					padding-top: 10px;
					padding-left: 10px;
					height: 20px;
				}
				.services p{
					font-size: 10px;
					padding: 3px;
					margin-bottom: 30px;
				}
				.services a{
					text-decoration: none;
					font-size: 10px;
					border: solid 2px black;
					border-radius: 5px;
					background-color: yellow;
					margin-left: 130px;
				}